# ===============================
# SPRING BOOT / MAVEN
# ===============================
target/
*.jar
*.war
*.ear
*.class
dependency-reduced-pom.xml

# Archivos locales con secretos
application-local.properties
application-dev.properties

# ===============================
# REACT / NODE
# ===============================
node_modules/
build/
dist/
coverage/

.env
.env.*
*.local

# ===============================
# CARPETAS PERSONALIZADAS
# ===============================
/Ignorar/

# ===============================
# IDEs
# ===============================
.idea/
.vscode/
*.iml

# ===============================
# LOGS
# ===============================
*.log
logs/

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Otros
# ===============================
*.pid
*.seed
*.swp
*.bak
*.zip
*.tar.gz